function Main.main 0
        push constant 5
        push constant 3
        call Math.foo 2
        push constant 0
        return
function Math.foo 2
        push argument 0
        push argument 1
        add
        push constant 2
        sub
        return
